body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
  }
  
  h1, h2, h3, p {
    margin: 0;
    padding: 0.5em 0;
  }
  
  .navbar {
    background-color: #191919;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height:70px;
    width: 100%;
  }
  
  .logo-container {
    margin-right: auto;
    padding-left: 1em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 1em;
  }
  
  .nav-links li {
    margin-left: 1.5em;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff6347;
  }
  
  .hero {
background: linear-gradient(135deg,#3c1404, #ff6d53);
    color: #fff;
    padding: 4em 0;
    text-align: center;
   
  }
  
  .hero h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    animation: popup 3s forwards;
  }
  
  .hero p:first-of-type {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    animation: popup 3s forwards;
  }
  .hero .discount{
    position: absolute;
    background-color: #565656ba;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 5px;
    left: 50%;
    margin-top: 20px;
    font-size: 1rem;
    z-index: 10;
    animation: flash 1s ease-in-out infinite;
  }
  
  .cta-button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    background-color: #191919;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background: linear-gradient(135deg,#3c1404, #ff6d53);
  }
  
  .categories {
    padding: 4em 0;
    text-align: center;
  }
  
  .categories h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
  }
  
  .category {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 0.9em;
    transition: transform 1s ease-in-out;
  }
  .category:hover{
    transform: scale(1.07);
  }
  
  .category img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1em;
    animation: fadeIn 1s ease-out forwards;
  }
  
  .category h3 {
    font-size: 1em;
    margin: 0;
  }
  
  .featured-products {
    padding: 4em 0;
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 1.5em;
  }
  
  .product {
    position: relative;
    background-color: #fff;
    padding: 0.75em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 0.9em;
    transition: transform 1s ease-in-out;
    overflow:hidden;
  }
  .product:hover{
    transform: scale(1.07);
  }
  .product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    animation: fadeIn 1s ease-out forwards;
  }
  
  .product h3 {
    font-size: 1em;
    margin: 0.5em 0;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  
  .product p {
    font-size: 0.9em;
    color: #ff6347;
    margin-top: auto;
  }
  .quantity-input {
    width: 60px;
    margin-left: 10px;
}
.badge-danger {
  background-color: #dc3545;
}

.error-message {
  color: #dc3545;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
  
  .testimonials {
    background-color: #191919;
    color: #fff;
    padding: 4em 0;
    text-align: center;
  }
  
  .testimonials h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .testimonial {
    background-color: #2b2b2b;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 0.9em;
  }
  
  .testimonial p {
    font-size: 1em;
    font-style: italic;
  }
  
  .testimonial h3 {
    font-size: 0.9em;
    margin-top: 1em;
    color: #ff6347;
  }
  .footer {
    background-color: #191919;
    color: #626262;
    text-align: center;
    padding: 1em 0;
  }
  
  .footer p {
    margin: 0;
  }

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    text-align: center;
  }
  
  .nav-links {
    flex-direction: column;
    padding: 0;
  }

  .nav-links li {
    margin: 0.5em 0;
  }

  .hero h2 {
    font-size: 2em;
  }
  
  .hero p {
    font-size: 1em;
  }
  
  .cta-button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .footer p {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {

  .navbar {
    padding: 0.5em;
  }
  
  .logo-container {
    padding-left: 0;
  }

  .hero h2 {
    font-size: 1.5em;
  }
  
  .hero p {
    font-size: 0.9em;
  }
  
  .cta-button {
    padding: 0.5em 1em;
    font-size: 0.8em;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  

  h1, h2, h3 {
    font-size: 1.5em;
  }
  
  .categories h2, .featured-products h2, .testimonials h2 {
    font-size: 1.5em;
  }
  
  .testimonial p {
    font-size: 0.9em;
  }
  
  .footer p {
    font-size: 0.8em;
  }
}



  /* singin signup form styling */
  .form-body, .form-html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f89999;
}

.form {
  display: none;
}

.form-container {
  width: 300px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Radio buttons and labels */
input[type="radio"] {
  display: none;
}

.form-label {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: #fd8181;
  border-bottom: 2px solid #fd8181;
}

#signin:checked ~ .signin-form ,#signup:checked ~ .signup-form{
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  padding: 10px;
  background-color: #fd8181;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

form button:hover {
  background-color: #ec5454;
}

form p {
  margin: 10px 0 0;
}

form p label {
  color: #fd8181;
  cursor: pointer;
}
form p label:hover{
color: #ec5454;
}


.product-table table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff6d53;
}

.product-table thead {
  background-color: #ff6d53; /* Fill color for thead */
  color: #ffffff;
}

.product-table thead th {
  padding: 1em;
  text-align: center;
  border: 1px solid #fff; /* Same color border */
  font-weight: bold;
}

.product-table tbody td {
  padding: 1em;
  border: 1px solid #ddd;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f4f4f4; 
}

.product-table tbody tr:hover {
  background-color: #f5d2c7; 
}

.product-table th, .product-table td {
  text-align: center;
}

.product-table h2 {
  color: #333;
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.8em;
}

@keyframes popup{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }

}
@keyframes fadeIn{
  from{
    opacity: 0;
    transform:translateY(150px);
  }
  to{
    opacity: 1;
    transform:translateY(0);
  }
}

@keyframes flash{
  0%{
    opacity:0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* Align the product cards consistently */
.products-container {
  padding: 20px 1px;
  max-width: 1300px;
  margin: auto;
}

.card {
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #565555;
  font-size: 1rem;
}

.card .fw-bold {
  font-size: 1.1rem;
  color: #2c3e50;
  margin-top: 3px;
}

.btn-primary {
  /* color: #fff; */
  font-size: 0.95rem;
  padding: 8px 16px;
  text-transform: uppercase;
  margin-top: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
      width: 100%;
  }
}
